body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: darkgreen;
    text-align: center;
}
h1{
    color: goldenrod;
    font-size: 40px;
    font-weight:700 ;
}
p{
    color: #fff;
    font-size: 25px;
}
button{
    padding: 10px;
    background: goldenrod;
    color: darkgreen;
    font-weight: bolder;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    border: 2px solid skyblue;
    width: 30%;
    margin-top: 4px;
    margin-bottom: 4px;
}
button:hover{
    background: rgb(197, 214, 170);
    transform: 0.3s ease;
    cursor: pointer;
}